.tabSet {
    max-width: 100%;
    margin:0 auto ;
    overflow: hidden;
    @include clearfix;

    @include screen('mobile') {
        max-width: 100%;
        width: auto;
        height: auto !important;
    }
}

.tabs {
    position: relative;

    @include screen('mobile') {
        position: relative;
    }

    // 改button
    &>.tabItem {
        &.active {
            background-color: $primaryColor;
            color: #FFF;
        }
        float: left;
        margin: 0;
        padding: 0;
        font-size:1em;
        line-height: 1;
        display: block;
        padding: 16px 0 14px;
        text-align: center;
        background-color: #aaa;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        @include text-overflow;
        box-sizing: border-box;
        &:hover, &:focus {
            background: $primaryColor;
        }
        @include screen('mobile') {
            float: none;
            width: 100% !important;
            border-bottom: 1px solid #888;
            &.active {
                border-color: #bbb;
            }
        }
    }
}

//多組 可設定差異
.example-2 {
    .tabItem>a:hover {
        background: $secondaryColor;
    }

    .tabItem.active>a {
        background: $secondaryColor;
    }
}

// 顯示content
.active+.tabContent {
    display: block;
}

.tabContent {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    clear: both;
    padding: 30px 0px;
    display: none;

    @include screen('mobile') {
        position: static;
    }

    figure {
        float: left;
        margin: 0 25px 15px 0;
        img{
            width: 300px;
        }
        @media(max-width: 700px) {
            float:none;
            margin:0 0 15px 0;
            img{
                width: 100%;
            }
        }
    }

    h3 {
        margin: 0 0 20px;
         @include text-overflow;
        a {
            span {
                color: $primaryColor;
                margin: 0 1em 0 0;
            }

            color: $color-word;

            &:hover, &:focus{
                 color: $primaryColor;
            }
        }
    }

    ul {
        list-style-type: none;
        margin: 0 0 15px;
        padding: 0;
        line-height: 1.6;
        clear: both;
        float: none;
    }

    li {
        margin: 0;
        padding: 0;
        border-bottom: 1px #dcdcdc solid;
        
        

        a {
            @include aSetting_nocolor;
            display: block;
            padding: 10px 0;
            @include text-overflow();

            span {
                display: inline-block;
                margin: 0 1em 0 0;
                font-size: 1em;
                color: $primaryColor;
            }
        }

    }

    
}