.wrapper_e {
    // header
    .header {
        .navigation {
            padding-right: 0;
        }
    }
    .header>.container .searchCtrl {
        display: none !important;
    }
    // main
    .innerpage {
        padding-top: 4em;
        @include screen('mobile') {
            padding-top: 6em;
        }
    }
    .cp {
        h1 {
            line-height: 1.25em;
            &.title {
                color: $secondaryColor;
                border-bottom: 1px solid $secondaryColor;
                padding: 0px 0px 6px;
                margin: 0px 0 20px;
                font-size: 2em;
            }
        }
        h2 {
            font-size: 1.25em;
            color: #333;
            clear: both;
        }
    }
    // footer
    footer {
        background-image: none;
        &:before {
            background-image: none;
        }
        .fatfooter {
            display: none;
        }
        .contentblock {
            padding-top: 20px;
            overflow: hidden;
            @include screen('mobile') {
                padding-top: 0;
            }
            .footer_logo {
                background-color: transparent;
                outline: none;
                width: 400px;
                height: auto;
                margin: 0 10px 0px 0;
                padding: 10px 0;
                text-align: left;
                font-size: 0.75em;
                color: #fff;
                line-height: 1.4em;
                img {
                    float: left;
                    margin-right: 10px;
                }
                @include screen('mobile') {
                    width: auto;
                    padding: 0;
                    padding-bottom: 10px;
                }
                @media(max-width: 400px) {
                    img {
                        float: none;
                        display: block;
                    }
                }
            }
            .footer_connection {
                height: auto;
                width: auto;
                outline: none;
                padding: 10px;
                word-break: normal;
                @media(max-width: 1200px) {
                    width: 100%;
                    padding-top: 10px;
                    border-top: 1px solid rgba(255, 255, 255, .5);
                }
            }
        }
        .footer_info {
            text-align: left;
        }
    }
}
.sidebar_e {
    .navigation {
        .left_nav {
            border: none !important;
            li {
                float: none !important;
                clear: both;
                width: 100% !important;
                a {
                    border: none !important;
                    border-bottom: 1px solid rgba(255, 255, 255, .5) !important;
                }
            }
        }
    }
}
.wrapper_e2 {
    .header {
        box-shadow: none;
         .navigation{
            ul{
                 &.left_nav{
                    li{
                        a{
                            background-image:none;
                            position:relative;
                            &:before{
                                content: '';
                                width:12px;
                                height: 12px;
                                border-radius:8px 15px 6px 12px;
                                background-color:#91d0ba;
                                position:absolute;
                                left:0;
                                top:6px;

                            }
                        }
                    }
                 }
            }
         }
    }
    .cp {
        padding: 40px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        border-radius: 15px;
        margin-bottom: 30px;
        background-color: #fff;
        position: relative;
        z-index: 9;
    }
    .innerpage {
        position: relative;
        background-color: #caefdb;
         background-image: url('../images/innerpage_bg03.svg');
        background-repeat: no-repeat;
        background-position:center bottom;
        background-size:130%;
        &:before {
            content: '';
            background-image: url('../images/innerpage_bg02.svg');
            background-repeat: no-repeat;
            background-position: left top;
            position: absolute;
            width: 700px;
            height: 555px;
            top: -100px;
            left: -150px;
            background-color: transparent;
        }
        &:after {
            content: '';
            background-image: url('../images/innerpage_bg01.svg');
            background-repeat: no-repeat;
            background-position: right top;
            position: absolute;
            width: 500px;
            height: 432px;
            top: -100px;
            right: -150px;
            z-index: 0;
            background-color: transparent;
        }
        .container {}
    }
}