.category {
    text-align: left;
    @include box-sizing;
    margin: 2em auto;
    clear:both;

    ul {
        padding: 0;
        margin: 0;
        overflow: hidden;

        li {
            margin: 0px 5px 5px 0px;
            display: block;
            float: left;
            &.here a {
                cursor: default;
                color: #fff;
                background-color: $primaryColor;
                @include border-radius(5px);
                position: relative;
                border: 1px solid $aHover;
            }
        }
    }

    a {
        display: inline-block;
        padding: 8px 12px 8px;
        text-decoration: none;
        background-color: #fff;
        color: #000;
        position: relative;
        border: 1px solid #999;
        @include border-radius(5px);

        &:hover {
            text-decoration: none;
            color: #fff;
            background-color: $aHover;
            border: 1px solid $aHover;
        }
    }
}